
# PiHole Operations
alias phlogin='ssh 192.168.1.109 -l pi'

# Lock screen
alias afk="gnome-screensaver-command --lock"

# apt Operations
alias apti="sudo apt-get install"
alias aptr="sudo apt-get remove"
alias apts="sudo apt-cache search"
alias aptu="sudo apt-get update \
                && sudo apt-get upgrade"

# Empty trash
alias empty-trash="rm -rf ~/.local/share/Trash/files/*"

# Hide/Show desktop icons.
alias hide-desktop-icons-linux="gsettings set org.gnome.desktop.background show-desktop-icons false"
alias show-desktop-icons-linux="gsettings set org.gnome.desktop.background show-desktop-icons true"

# Open files (linux only)
alias openl="xdg-open"

# Update applications and CLTs.
alias update-linux="sudo apt-get update \
            && sudo apt-get upgrade"
alias update-mac='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# git Operations
alias gst="git status"
alias gall="git add -u"
alias gevr="git add -A"
